* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
  
  header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
      url("https://library.sportingnews.com/styles/crop_style_16_9_desktop/s3/2021-08/nfl-logo-080521-getty-ftr_1l4ashi1tahe91uiujfrmf291p.jpg?itok=OCYuBmM7");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  nav {
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  
  nav .logo {
    width: 25%;
    text-align: center;
    /*background: red;*/
  }
  
  nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
  
  nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav .menu a:first-child {
    color: #00b894;
  }
  
  main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
  }
  
  section h1 {
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
  }
  
  section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
  }
  
  section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
  
  section .btnone {
    /*background: #00b894;*/
    background: #fff;
    color: #000;
  }
  
  .btnone:hover {
    background: #00b894;
    color: white;
  }
  
  section .btntwo {
    background: #00b894;
    color: white;
  }
  
  .btntwo:hover {
    background: #fff;
    color: #000;
  }
  
  .change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #00b894;
  }
  
  @keyframes changetext {
    0% {
      content: "Darjeeling";
    }
    20% {
      content: "Agra";
    }
    35% {
      content: "Jaipur";
    }
    60% {
      content: "kerala";
    }
    80% {
      content: "delhi";
    }
    100% {
      content: "Mumbai";
    }
  }

  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    top:100%;
    left:100%;
    width:250px;
    height:40px;
  }
  
  .dropbtn2 {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    top:100%;
    left:100%;
    width:250px;
    height:40px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    top: 0px;
    right:50px;
    width:50px;
    height:40px;
  }
  .dropdown2 {
    position: relative;
    display: inline-block;
    top:100px;
    right:600px;
    width:50px;
    height:40px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-height: 200px; /* allows for scrolling  */
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-height: 200px; /* allows for scrolling  */
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .button {
    background-color: #4CAF50;
    position: absolute;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    right: 250px;
    top: 450px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
