<!DOCTYPE html>
<html>
    <body>
        <table>
            <tr>
                <td>
                    {{winner}}
                </td>
            </tr>
        </table>

        <form action="" method="post">
            <label for="hteam">Home Team:</label>
            <input type="text" name="Hteam"><br><br>
            <label for="Ateam">Away Team:</label>
            <input type="text" name="Ateam"><br><br>
            <input type="submit" name="enter" value="get winner">
        </form>
    </body>
</html>
